{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load socialaccount %}
<head>
    <meta charset="UTF-8">
    <title>View Assignments</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="container mx-auto px-4 py-3">
            <div class="flex justify-between items-center">
                <div class="flex">
                    <a class="text-lg font-bold text-gray-800" id="notif" href="#">Assignment Manager</a>
                </div>
                <div class="flex">
                    <span class="text-gray-600 mr-4">{{ user.email }}</span>
                    <span class="text-gray-600">{{ user.last_name }}</span>
                    <a class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 ml-4 rounded" href="accounts/logout">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mx-auto my-8">
        <div class="text-2xl font-bold mb-4">List of all assignments:</div>
        <table class="table-auto w-full text-left">
            <thead class="bg-gray-200">
                <tr>
                    <th width="20%" class="px-4 py-3 font-medium text-gray-900">Assignment Name</th>
                    <th width="20%" class="px-4 py-3 font-medium text-gray-900">Creation Time</th>
                    <th width="20%" class="px-4 py-3 font-medium text-gray-900">Deadline</th>
                    <th width="20%" class="px-4 py-3 font-medium text-gray-900">Assignments</th>
                    <th width="20%" class="px-4 py-3 font-medium text-gray-900">Submissions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in assignments %}
                <tr>
                    <td width="20%" class="px-4 py-3">{{ item.assignment_name }}</td>
                    <td width="20%" class="px-4 py-3">{{ item.created_time }}</td>
                    <td width="20%" class="px-4 py-3">{{ item.deadline }}</td>
                    <td width="20%" class="px-4 py-3"><a class="text-blue-500 hover:text-blue-700" href="{% url 'coursemanager:edit-assignment' pk=item.pk %}" >View/Edit Assignment</a></td>
                    <td width="20%" class="px-4 py-3"><a class="text-blue-500 hover:text-blue-700" href="{% url 'coursemanager:submissions-view' pk=item.pk %}" target="_blank">View Submissions</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"href="{% url 'coursemanager:add-assignment' %}">Add Assignment</a>
</body>

<script>
    let socket = new WebSocket('ws://localhost:8000/ws/instructorNotify');

    socket.onopen = function (e) {
      console.log('Connection established - Socket');
    };
  
    socket.onmessage = function (e) {
      var data = JSON.parse(e.data)
      var value = data.payload.message
      console.log(data)
      showNotif(value)
    };
    socket.onclose = function (e) {
      console.log('Connection closed - Socket');
    };
  
    function showNotif(value){
        var notif_html = document.querySelector('#notif')
        notif_html.innerHTML += `<br><span style="color:red">`+ value + `</span>`
        console.log(notif_html)  
    }
  </script>
</html>


