{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load socialaccount %}
<head>
    <meta charset="UTF-8">
    <title>View Assignments</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="container mx-auto px-4 py-3">
            <div class="flex justify-between items-center">
                <div class="flex">
                    <a class="text-lg font-bold text-gray-800" href="#">Assignment Manager</a>
                </div>
                <div class="flex">
                    <span class="text-gray-600 mr-4">{{ user.email }}</span>
                    <span class="text-gray-600">{{ user.last_name }}</span>
                    <a class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 ml-4 rounded" href="accounts/logout">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mx-auto my-8">
        <div class="text-2xl font-bold mb-4">List of all Submissions for {{ assignment_object.assignment_name }}:</div>
    <table class="table-auto w-full text-left whitespace-no-wrap">
        <tbody>
            <tr>
                <th width="15%" class="px-4 py-3  font-medium text-gray-900  bg-gray-100">Student Name</th>
                <th width="15%" class="px-4 py-3  font-medium text-gray-900  bg-gray-100">Submitted File</th>
                <th width="10%" class="px-4 py-3  font-medium text-gray-900  bg-gray-100">Submission Time</th>
                <th width="20%" class="px-4 py-3  font-medium text-gray-900  bg-gray-100">Deadline</th>
                <th width="15%" class="px-4 py-3  font-medium text-gray-900  bg-gray-100">Grade Awarded</th>
                <th width="10%" class="px-4 py-3  font-medium text-gray-900  bg-gray-100">Feedback</th>
                <th width="15%" class="px-4 py-3 font-medium text-gray-900 bg-gray-100">Evaluation</th>
            </tr>
        </tbody>
    </table>
    {% for item in submission_objects %}
    <table>
        <tr>
            <td width="15%" class="px-4 py-3">{{ item.student_name }}</td>
            <td width="15%" class="px-4 py-3"><a class="text-blue-500 hover:text-blue-700"  href="{% url 'coursemanager:media' file=item.submission_file %}"target="_blank">View Submission</a></td>
            <td width="10%" class="px-4 py-3 ">{{ item.submission_time }}</td>
            <td width="20%" class="px-4 py-3 ">{{ assignment_object.deadline }}</td>
            {% if item.is_graded %}
                <td width="15%" class="px-4 py-3 ">{{ item.marks }}/{{ assignment_object.max_marks }} </td>
                <td width="10%" class="px-4 py-3 ">{{ item.feedback }} </td>
                <td width="15%" class="px-4 py-3 "><a class="text-blue-500 hover:text-blue-700"  href="{% url 'coursemanager:evaluate-assignment' pk1=assignment_object.pk pk2=item.pk %}">Edit Grade</a></td>
            {% else %}
                <td width="15%" class="px-4 py-3 ">Not Graded</td>
                <td width="10%" class="px-4 py-3 ">Not Given</td>
                <td width="15%" class="px-4 py-3 "><a class="text-blue-500 hover:text-blue-700"  href="{% url 'coursemanager:evaluate-assignment' pk1=assignment_object.pk pk2=item.pk %}">Evaluate</a></td>
            {% endif %}
        </tr>
    </table>
    {% endfor %}
</body>
</html>